<link rel="stylesheet" href="style.css" />
{% extends "bootstrap/base.html" %}
{% block title %}FYP ATIS{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
<!-- <script>
  function submitForm() {
var frm = document.getElementsByName('query_form')[0];
frm.submit(); // Submit the form
frm.reset();  // Reset all form data
return false; // Prevent page refresh
}
</script>
<form action="/predict" method="POST">
  <div class="form-group">
    <small id="emailHelp" class="form-text text-muted"><center><h3>Enter your flight related queries</h3></center><center></center></small>
    <br>
    <center><input  id=class="form-control" name="input" ></center>
    
  </div>
  <br>
  <center><button type="submit" class="btn btn-primary" onclick="submitForm()">Submit</button></center>
</form> -->
{% endblock %}